
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <!-- <p>Made with ❤️ by @shrajan</p> -->
    <p style="color:black">© all rights are reserved 22</p>
  </div>

</div>
</body>
</html>
