<%- include("partials/header"); -%>
    <h1>About</h1>
    <div class="about" style="color:green">
      Quotopdeia24


      </div>
        <img src="images/agreement.png"  alt="abc" style="    width: 50vh;
    height: 60vh;">
    
<%- include("partials/footer"); -%>
