<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <div class="contact" style="background-color:black; height:50vh;font-size:2em;">
      <!-- <p><i class="fa fa-envelope" style="font-size:30px"></i> <a  style=" font-size:20px ;margin-left:5px" href="tomail:quotopedia24@gmail.com"> Gmail </a></p> -->
        <p><i class="fa fa-envelope" style="font-size:30px"></i><a  style=" font-size:20px ;margin-left:5px" href="https://mail.google.com/mail/?view=cm&fs=1&to=quotopedia24@gmail.com&su=SUBJECT&body=BODY" target="_blank">Mail Us</a></p>
      <p><i class="fa fa-linkedin" style="font-size:30px"></i> <a style=" font-size:20px ;margin-left:5px" href="https://www.linkedin.com/in/shrajan-jain-a89353201/">  Linked In   </a> </p>

     <p> Your valuable suggestions are welcomed.
   for suggestions fill out the google form attached  </p> <a style="color:red;font-size:14px;font-family: cursive;"> https://forms.gle/rPcrkcefr6vJBMR29 </a>
    </div>

<%- include("partials/footer"); -%>
<%# mongosh "mongodb+srv://cluster0.6x9bzfs.mongodb.net/myFirstDatabase" --apiVersion 1 --username Quotopedia24 %>
